<div id="<%= dom_id purchase %>">
  <p>
    <strong>Name:</strong>
    <%= purchase.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= purchase.category %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= purchase.quantity %>
  </p>

  <p>
    <strong>Invoice:</strong>
    <%= purchase.invoice_id %>
  </p>

</div>
